body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #8d548a, #600562);
    color: #f1eeec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: rgb(72, 4, 63);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 500px;
    text-align: center;
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.timer {
    font-size: 18px;
    font-weight: 700;
}

.question-number {
    font-size: 18px;
    font-weight: 700;
}

.question {
    font-size: 24px;
    margin: 20px 0;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    background-color: #ca14ab;
    color: #f1efe7;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: rgb(9, 127, 15)
}

.next-button {
    background-color: #280379; 
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.next-button:hover {
    background-color: #a1880c; 
}